// ======================================
//  Variables
// ======================================

//Colors
$color-one: #777;
$color-two: #58e1c1;
$color-three:#fff;
$color-four: #ccc;
$color-five: #63cc82;

//Break points
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1400px;
