// ======================================
//  Variables
// ======================================

//Colors
$color-one: #777;
$color-two: #58e1c1;
$color-three:#fff;
$color-four: #ccc; 
$color-five: #deb2ee;

//button-colors
$color-1: #51ddfc;
$color-2: #e4757a;
$color-3: #927bc1;
$color-4: #63cc82;
$color-5: #fd7856;


//Break points
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1400px;

//Font-weight
$font-light: 300;
$font-medium: 500;
$font-bold: 700;

//Font-family
$font-primary: 'Lato', sans-serif;

