// ======================================
//  Variables
// ======================================

//Colors
$color-one: #777;
$color-two: #58e1c1;
$color-three:#fff;
$color-four: #ccc; 
$color-five: #51ddfc;

//Break points
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1400px;

//Font-weight
$font-light: 300;
$font-medium: 500;
$font-bold: 700;

//Font-family
$font-primary: 'Lato', sans-serif;

