/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $color-three;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default:hover {
  background-color: #51ddfc;
}

.error:hover {
  background-color: #e4757a;
}

.info:hover {
  background-color: #927bc1;
}

.success:hover {
  background-color: $color-five;
}

.warning:hover {
  background-color: #fd7856;
}


//Button hovers
$buttons: (
  default: $color-1,
  error: $color-2,
  info: $color-3,
  success: $color-five,
  warning: $color-4,
);

@each $button, $color in $buttons {
  .#{$button} {
    background-color: $color;

      &:hover {
        background-color: lighten($color, 15%);
      }
  }
}

.default {
  background-color: #51ddfc;
}

.error {
  background-color: #e4757a;
}

.info {
  background-color: #927bc1;
}

.success {
  background-color: $color-five;
}

.warning {
  background-color: #fd7856;
}