
/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $font-primary;
  color: $color-one;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}


/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
  color: $color-two;
  margin-left: 10px;
}

.headline-secondary {
  font-weight: $font-light;
  color: $color-one;
}

.link {
  color: $color-1;
  font-weight: $font-bold;
}

.blockquote {
  font-size: 1.5em;
  font-weight: $font-light;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $color-two;
  border-radius: 5px;
}
